!!! 5
html

html

head
	title Sound Engine
	link(rel="stylesheet", href="style.css", type="text/css")
	link(rel="stylesheet", href="lib/jquery-ui/css/ui-darkness/jquery-ui-1.8.16.custom.css", type="text/css")

body
	button(id="play_pause")
	hr(style="clear:left")
	div( class="row channel")
		p(style="float:left") samples/kick.wav
		div( class="tick")
		div( class="tick")
		div( class="tick")
		div( class="tick")
		div( class="tick")
		div( class="tick")
		div( class="tick")
		div( class="tick")
	div( class="row channel")
		p(style="float:left") samples/snare.wav
		div( class="tick")
		div( class="tick")
		div( class="tick")
		div( class="tick")
		div( class="tick")
		div( class="tick")
		div( class="tick")
		div( class="tick")
	div( class="row channel")
		p(style="float:left") samples/808 highhat.wav
		div( class="tick")
		div( class="tick")
		div( class="tick")
		div( class="tick")
		div( class="tick")
		div( class="tick")
		div( class="tick")
		div( class="tick")
	div( class="row channel")
		p(style="float:left") samples/crackle.wav
		div( class="tick")
		div( class="tick")
		div( class="tick")
		div( class="tick")
		div( class="tick")
		div( class="tick")
		div( class="tick")
		div( class="tick")

	script(type="text/javascript", language="javascript", src="scripts/lib/jquery-1.6.2.min.js")
	script(type="text/javascript", language="javascript", src="lib/jquery-ui/jquery-ui-1.8.16.custom.min.js")
	script(type="text/javascript", language="javascript", src="scripts/Script.js")
	script(type="text/javascript", language="javascript", src="scripts/BufferLoader.js")
	script(type="text/javascript", src="scripts/SoundEngine.js")
	script(type="text/javascript", language="javascript", src="scripts/Channel.js")
