<!doctype html>
<head>
	<title>My Page</title>
<link rel="stylesheet" href="style.css" type="text/css" />	
</head>
<body>
	<audio src="gameboy.ogg" type="audio/ogg" onaudiowritten="audioWritten(event);"></audio>
	<a href="#">click me</a>
	<div class="row channel">
		<div class="tick"></div>
		<div class="tick"></div>
		<div class="tick"></div>
		<div class="tick"></div>
		<div class="tick"></div>
		<div class="tick"></div>
		<div class="tick"></div>
		<div class="tick"></div>
	</div>
	<div class="row channel">
		<div class="tick"></div>
		<div class="tick"></div>
		<div class="tick"></div>
		<div class="tick"></div>
		<div class="tick"></div>
		<div class="tick"></div>
		<div class="tick"></div>
		<div class="tick"></div>
	</div>
	<div class="row channel">
		<div class="tick"></div>
		<div class="tick"></div>
		<div class="tick"></div>
		<div class="tick"></div>
		<div class="tick"></div>
		<div class="tick"></div>
		<div class="tick"></div>
		<div class="tick"></div>
	</div>
	<div class="row channel">
		<div class="tick"></div>
		<div class="tick"></div>
		<div class="tick"></div>
		<div class="tick"></div>
		<div class="tick"></div>
		<div class="tick"></div>
		<div class="tick"></div>
		<div class="tick"></div>
	</div>
	<script type="text/javascript" language="javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script type="text/javascript" language="javascript" src="jquery-1.6.2.min.js"></script>
	<script type="text/javascript" language="javascript" src="script.js"></script>
	<script type="text/javascript" language="javascript" src="BufferLoader.js"></script>
	<script type="text/javascript" src="buffer.js"></script>
	<script type="text/javascript" language="javascript" src="channel.js"></script>
</body>
