.tick { 
	width: 50px; 
	height: 50px;
	-moz-border-radius: 25px; 
	-webkit-border-radius: 25px; 
	border-radius: 25px;
	border: solid 1px white;
	float: left;
	margin:10px;
}

.row{
	clear:left;
}

body{
	background-color: black;
	color:red;
}

button{
	height:35px;
}

p{
	width:200px;
}
