.tick { 
	width: 30px; 
	height: 30px;
	-moz-border-radius: 15px; 
	-webkit-border-radius: 15px; 
	border-radius: 15px;
	border: solid 1px white;
	float: left;
	margin:10px;
}

.row{
	clear:left;
}

body{
	background-color: black;
	color:red;
	font-family:sans-serif;
}

button{
	height:35px;
	float:left;
}

select{float:left;}

.sample_path{
	width:200px;
	float:left;
}

.sample_list{
	min-width:200px;
}

.tempo{
	margin:10px;
	padding:0px 5px 0px;
	font-weight:bold;
	float:left;
	border:solid 1px;
}
.tempo_value{
	float:left;
}
