!!! 5
html

html

head
	title Sound Engine
	link(rel="stylesheet", href="style.css", type="text/css")
	link(rel="stylesheet", href="lib/jquery-ui/css/ui-darkness/jquery-ui-1.8.16.custom.css", type="text/css")
	link(rel="stylesheet", href="modal.css", type="text/css")

body
	button(id="play") play

	script(type="text/javascript", language="javascript", src="scripts/lib/jquery-1.6.2.min.js")
	script(type="text/javascript", language="javascript", src="scripts/lib/Audiolet.min.js")
	script(type="text/javascript", language="javascript", src="scripts/lib/music.js")
	script(type="text/javascript", language="javascript", src="scripts/Synth.js")

